#UnicornTitle {
    width: 1500px;
    height: 500px
}

.UnicornGrid {
    width: 400px;
    height: 400px;
}

#myCarouse2
{
    width: 100%;
}

#myCarouse2 img
{
    height: 300px;
    margin-top: 35px;
}